@model Testing0._1.Models.Nieuwsartikel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nieuwsartikel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorteOmschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorteOmschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtikelTekst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtikelTekst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artikelfoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artikelfoto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NieuwsartikelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
