@model IEnumerable<Testing0._1.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (this.User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                Race
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="GebruikerTeam" asp-action="TeamledenDetails" asp-route-id="@item.TeamID">@Html.DisplayFor(modelItem => item.Naam)</a>
                </td>
                <td>
                    <a asp-controller="Race" asp-action="Klassement" asp-route-id="@item.RaceID">@Html.DisplayFor(modelItem => item.Race.Naam)</a>
                </td>
                <td>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.TeamID">Edit</a>
                    }
                    @if (this.User.IsInRole("Admin"))
                    {
                    <a asp-action="Details" asp-route-id="@item.TeamID">Details</a>
                    }
                    @if(this.User.IsInRole("Admin"))
                    {
                    <a asp-action="Delete" asp-route-id="@item.TeamID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
