@model IEnumerable<Testing0._1.Models.Uitslag>

@{
    ViewData["Title"] = "Index";
    int x = 0;
    foreach (var item in Model)
    {
        while (x == 0)
        {
            <div class="container">
                <div class="row">
                    <div class="col-xs-8 col-sm-4 col-md-4">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <img src="@Html.DisplayFor(modelItem => item.Gebruiker.Profielfoto)" alt="" width="220" height="220" class="img-rounded img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-6 col-md-8">
                                    <br />
                                    <h4>
                                        @Html.DisplayFor(modelItem => item.Gebruiker.VolledigeNaam)
                                    </h4>
                                    <small>
                                        <cite title="San Francisco, USA">
                                            San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                                            </i>
                                        </cite>
                                    </small>
                                    <p>
                                        <i class="glyphicon glyphicon-envelope"></i>email@example.com
                                        <br />
                                        <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                                        <br />
                                        <i class="glyphicon glyphicon-gift"></i>June 02, 1988
                                    </p>
                                    <!-- Split button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">
                                            Social
                                        </button>
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span><span class="sr-only">Social</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Twitter</a></li>
                                            <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                            <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Github</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            x += 1;



        }
    }

}


<br />
<h3>Recente Uitslagen</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Plaats
            </th>
            <th>
                Naam
            </th>
            <th>
                Tijd
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Rit" asp-action="Details" asp-route-id="@item.RitID">@Html.DisplayFor(modelItem => item.Resultaat)</a>
                </td>
                <td>
                    <a asp-controller="Rit" asp-action="Details" asp-route-id="@item.RitID">@Html.DisplayFor(modelItem => item.Rit.Naam)</a>
                </td>
                <td>
                    <a asp-controller="Rit" asp-action="Details" asp-route-id="@item.RitID">@Html.DisplayFor(modelItem => item.Algemeenklassement)</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RitID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RitID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RitID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">To Renners</a>
</div>

