@model Testing0._1.Models.Gebruiker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gebruiker</h4>
    <hr />
    <img src="@Html.DisplayFor(model => model.Profielfoto)" alt="shit" width="200" height="200" />
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nationaliteit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nationaliteit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GebruikerID">Edit</a> |
    <a asp-action="Index">Back to Gebruikers</a>
</div>
