@model IEnumerable<Testing0._1.Models.Uitslag>

@{
    ViewData["Title"] = "Index";
    int x = 0;
    foreach (var item in Model)
    {
        while (x == 0)
        {
            <h1>@Html.DisplayFor(modelItem => item.Gebruiker.VolledigeNaam)</h1>
            <img src="@Html.DisplayFor(modelItem => item.Gebruiker.Profielfoto)" alt="shit" width="200" height="200" />
            x += 1;
        }
    }

}


<h2>Uitslagen</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Plaats
            </th>
            <th>
                Naam
            </th>
            <th>
                Tijd
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-controller="Rit" asp-action="Details" asp-route-id="@item.RitID">@Html.DisplayFor(modelItem => item.Resultaat)</a>
            </td>
            <td>
                <a asp-controller="Rit" asp-action="Details" asp-route-id="@item.RitID">@Html.DisplayFor(modelItem => item.Rit.Naam)</a>
            </td>
            <td>
                <a asp-controller="Rit" asp-action="Details" asp-route-id="@item.RitID">@Html.DisplayFor(modelItem => item.Algemeenklassement)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RitID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RitID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RitID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

