@model IEnumerable<Testing0._1.Models.Gebruiker>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Volledige Naam
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationaliteit)
            </th>
            <th>
                A<sup>2</sup> Ranking
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.GebruikerID">@Html.DisplayFor(modelItem => item.VolledigeNaam)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationaliteit)
                </td>
                <td>
                    <a asp-action="Ranking">@Html.DisplayFor(modelItem => item.Score)</a>
                </td>
                <td>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.GebruikerID">Edit</a>
                    }
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Details" asp-route-id="@item.GebruikerID">Details</a> 
                    }
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.GebruikerID">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@if (this.User.IsInRole("Admin"))
{
<p>
    <a asp-action="Indexadmin">Overview Renners (Admin)</a>
</p>
}
