@model IEnumerable<Testing0._1.Models.Gebruiker>
@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center">Aquadraat Ranking 2020</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Ranking
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                Nationaliteit
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 1; i++)
        {
            @foreach (var item in Model.OrderByDescending(i => i.Score))
            {
                i += 1;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        <a asp-action="Details3" asp-route-id="@item.GebruikerID">
                            @Html.DisplayFor(modelItem => item.VolledigeNaam)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nationaliteit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
