@model Testing0._1.Models.Nieuwsartikel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>@Html.DisplayNameFor(model => model.Titel)</h2>

    <img src="@Html.DisplayFor(model => model.Artikelfoto)"  alt="...">

    <h5>@Html.DisplayNameFor(model => model.KorteOmschrijving)</h5>

    <p>@Html.DisplayFor(model => model.ArtikelTekst)</p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NieuwsartikelID">Edit this article</a> |
    <a asp-action="Index">Back to News</a> |
    <a asp-action="Indexadmin">Overview News (Admin)</a>
</div>
