@model IEnumerable<Testing0._1.Models.Nieuwsartikel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NieuwsartikelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorteOmschrijving)
            </th>
            <th>
                Etappes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NieuwsartikelID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KorteOmschrijving)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NieuwsartikelID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NieuwsartikelID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NieuwsartikelID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
