@model IEnumerable<Testing0._1.Models.Nieuwsartikel>

@{
    ViewData["Title"] = "Index";
    int x = 0;
}
<h1>News</h1>
<hr>
<div class="card-group">
    @foreach (var item in Model)
    {
        if (x < 1)
        {
            <div class="row">
                <div class="card" style="width: 45rem; margin-left:15rem; margin-right:15rem;">
                    <img src="@Html.DisplayFor(modelItem => item.Artikelfoto)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titel)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.KorteOmschrijving)</p>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.NieuwsartikelID">Bekijken</a>
                    </div>
                </div>
            </div>
            x += 3;
        }
        else
        {
            <div class="card-group">
                <div class="card" style="width: 23rem; margin-left:auto; margin-right:auto;  margin-top:3rem; height:30rem;">
                    <img src="@Html.DisplayFor(modelItem => item.Artikelfoto)" class="card-img-top" alt="..." width="300" height="300">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titel)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.KorteOmschrijving)</p>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.NieuwsartikelID">Bekijken</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
 <hr />
<div class="container">
    <hr>
    <div class="row">
        <p>
            <a asp-action="Create">Create New</a> |
            <a asp-action="Index1">Overview existing Newsitems (Admin)</a>
        </p>
    </div>
</div>







