@model IEnumerable<Testing0._1.Models.Nieuwsartikel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var item in Model)
{
    if (item.NieuwsartikelID == 2)
    {
        <article>
            <div>
                <span>@Html.DisplayFor(modelItem => item.Titel)</span>
            </div>
            <figure>
                <img src="@Html.DisplayFor(modelItem => item.Artikelfoto)" class="rounded" alt="lolzzz" />
            </figure>
            <div>
                <div>
                    @Html.DisplayFor(modelItem => item.KorteOmschrijving)
                </div>
            </div>
        </article>
        <br />
    }
    if (item.NieuwsartikelID == 2)
    {
        <article>
            <div>
                <span>@Html.DisplayFor(modelItem => item.Titel)</span>
            </div>
            <figure>
                <img src="@Html.DisplayFor(modelItem => item.Artikelfoto)" class="rounded" alt="lolzzz" />
            </figure>
            <div>
                <div>
                    @Html.DisplayFor(modelItem => item.KorteOmschrijving)
                </div>
                <div>
                    <a asp-action="Details" asp-route-id="@item.NieuwsartikelID">Details</a>
                </div>
            </div>
        </article>
        <br />
    }
    if (item.NieuwsartikelID == 2)
    {
        <article>
            <div>
                <span>@Html.DisplayFor(modelItem => item.Titel)</span>
            </div>
            <figure>
                <img src="@Html.DisplayFor(modelItem => item.Artikelfoto)" class="rounded" alt="lolzzz" />
            </figure>
            <div>
                <div>
                    @Html.DisplayFor(modelItem => item.KorteOmschrijving)
                </div>
            </div>
        </article>
        <br />
    }
}





