@model IEnumerable<Testing0._1.Models.Nieuwsartikel>

@{
    ViewData["Title"] = "Index";
}

<h1>Events & News</h1>

<div class="container">
    <hr>
    <div class="row">
        <div class="col-lg-push-4 col-md-4 col-md-push-4">
            <div class="searchForm type2">
                <form action="" class="searchForm">
                    <!-- Add The Appropriate Action for Your Site's Search Form/Page -->
                    <label class="sr-only" for="searchNewsEvents">Search News and Events</label>
                    <input id="searchNewsEvents" name="q" placeholder="What do you need?" type="search"> <input type="submit" value="Search">
                </form>
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
            </div>
        </div>
    </div>
</div>
    <hr>
        @foreach (var item in Model)
        {<div class="row">
    <div class="card" style="width: 20rem; margin-left:auto; margin-top:3rem; ">
        <img src="@Html.DisplayFor(modelItem => item.Artikelfoto)" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titel)</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 20rem; margin-left:auto; margin-right:auto;  margin-top:3rem;">
        <img src="@Html.DisplayFor(modelItem => item.Artikelfoto)" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titel)</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 20rem; margin-right:auto;  margin-top:3rem; ">
        <img src="@Html.DisplayFor(modelItem => item.Artikelfoto)" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titel)</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
            
        }




