@model IEnumerable<Testing0._1.Models.Race>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdatum)
            </th>
            <th>
                Etappes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Race" asp-action="Klassement" asp-route-id="@item.RaceID">@Html.DisplayFor(modelItem => item.Naam)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Startdatum)
                </td>
                <td>
                    <a asp-controller="Race" asp-action="Klassement" asp-route-id="@item.RaceID">@Html.DisplayFor(modelItem => item.Aantalritten)</a>
                </td>
                <td>
                    <a asp-controller="Race" asp-action="Edit" asp-route-id="@item.RaceID">Edit</a> |
                    <a asp-controller="Race" asp-action="Details" asp-route-id="@item.RaceID">Details</a> |
                    <a asp-controller="Race" asp-action="Delete" asp-route-id="@item.RaceID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="Race" asp-action="Index">Race overview (admin)</a>
</p>

