@model IEnumerable<Testing0._1.Models.Race>

@{
    ViewData["Title"] = "Index";
}
<h1>Placeholder</h1>
<h1>Placeholder</h1>

<h1 class="text-center">Races</h1>

<table class="table" id="listtable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdatum)
            </th>
            <th>
                Etappes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Race" asp-action="Klassement" asp-route-id="@item.RaceID">@Html.DisplayFor(modelItem => item.Naam)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Startdatum)
                </td>
                <td>
                    <a asp-controller="Race" asp-action="Klassement" asp-route-id="@item.RaceID">@Html.DisplayFor(modelItem => item.Aantalritten)</a>
                </td>
                <td>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-controller="Race" asp-action="Edit" asp-route-id="@item.RaceID">Edit</a>
                    }
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-controller="Race" asp-action="Details" asp-route-id="@item.RaceID">Details</a>
                    }
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-controller="Race" asp-action="Delete" asp-route-id="@item.RaceID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (this.User.IsInRole("Admin"))
{
    <a asp-controller="Race" asp-action="Index">Race overview (admin)</a>
}
|
@if (this.User.IsInRole("Admin"))
{
    <a asp-action="Create">Create New Race</a>
}

