@model Testing0._1.Models.Uitslag

@{
    ViewData["Title"] = "Details";
}
<h1>Placeholder</h1>
<p>Placeholder</p>

<h1>Details</h1>

<div>
    <h4>Uitslag</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Renner
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gebruiker.VolledigeNaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resultaat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resultaat)
        </dd>
        <dt class="col-sm-2">
            Tijd
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Algemeenklassement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rit.Naam)
        </dd>
        <dt class="col-sm-2">
            Punten
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Puntenklassement)
        </dd>
        <dt class="col-sm-2">
            Berg
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bergklassement)
        </dd>
        <dt class="col-sm-2">
            Strijdlust
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Strijdlustklassement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UitslagID">Edit</a> |
    <a asp-action="Index">Back to Uitslagen</a>
</div>
