@model IEnumerable<Testing0._1.Models.Uitslag>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Renner
            </th>
            <th>
                Resultaat
            </th>
            <th>
                Race
            </th>
            <th>
                Tijd
            </th>
            <th>
                Ritsoort
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(n => n.RitID == 1 || n.RitID == 2))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gebruiker.VolledigeNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultaat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rit.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Algemeenklassement)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Rit.Ritsoort.Naam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UitslagID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UitslagID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UitslagID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
