@model IEnumerable<Testing0._1.Models.Uitslag>

@{
    ViewData["Title"] = "Index";
}
<h1>Placeholder</h1>
<p>Placeholder</p>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{

    <p>
        Name  : @Html.TextBox("searchname")
        <input name="kut" type="submit" value="Search" />
    </p>


}
<table class="table" id="listtable">
    <thead>
        <tr>
            <th>
                Renner
            </th>
            <th>
                Resultaat
            </th>
            <th>
                Race
            </th>
            <th>
                Tijd
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Gebruiker" asp-action="Details" asp-route-id="@item.GebruikerID">@Html.DisplayFor(modelItem => item.Gebruiker.VolledigeNaam)</a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resultaat)
                </td>
                <td>
                    <a asp-controller="Rit" asp-action="Details" asp-route-id="@item.RitID">@Html.DisplayFor(modelItem => item.Rit.Naam)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Algemeenklassement)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UitslagID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UitslagID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UitslagID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
