@model IEnumerable<Testing0._1.Models.Uitslag>

@{
    ViewData["Title"] = "Index";
    int x = 0;
    int raceid = 0;
    foreach (var item in Model)
    {
        while (x == 0)
        {
            <h1>@Html.DisplayFor(modelItem => item.Rit.Naam)</h1>
            raceid = item.Rit.RaceID;
            x += 1;

            @if (this.User.IsInRole("Admin"))
            {
                <h1>Placeholder</h1>
                <p>Placeholder</p>
                <p>
                    <img src="@Html.DisplayFor(modelItem => item.Rit.Profielfoto)" />
                    <a asp-controller="Uitslag" asp-action="Create">Niewe uitslag toevoegen</a>
                </p>
            }

        }
    }
}




<table class="table" id="listtable">
    <thead>
        <tr>
            <th>
                Plaats
            </th>
            <th>
                Naam
            </th>
            <th>
                Tijd
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Resultaat)
                </td>
                <td>
                    <a asp-controller="Gebruiker" asp-action="Details" asp-route-id="@item.GebruikerID">@Html.DisplayFor(modelItem => item.Gebruiker.VolledigeNaam)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Algemeenklassement)
                </td>
                <td>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.RitID">Edit</a>
                    }
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Details" asp-route-id="@item.RitID">Details</a>
                    }
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.RitID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Race" asp-action="Details" asp-route-id="@raceid">Naar alle ritten</a>
</div>
