@model IEnumerable<Testing0._1.Models.Uitslag>

@{
    ViewData["Title"] = "Index";
    int x = 0;
    foreach (var item in Model)
    {
        while (x == 0)
        {
            <h1>@Html.DisplayFor(modelItem => item.Rit.Naam)</h1>
            x += 1;
        }
    }

}




<table class="table">
    <thead>
        <tr>
            <th>
                Plaats
            </th>
            <th>
                Naam
            </th>
            <th>
                Tijd
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Resultaat)
                </td>
                <td>
                    <a asp-controller="Gebruiker" asp-action="Details3" asp-route-id="@item.GebruikerID">@Html.DisplayFor(modelItem => item.Gebruiker.VolledigeNaam)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Algemeenklassement)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RitID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RitID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RitID">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
